### Target Vendor/Product (support only Ralink RT3883/MT7620)
CONFIG_VENDOR=XIAOMI-U-Boot
CONFIG_PRODUCT=MT7620

### Target ProductID (board select, max 23 ASCII symbols)
CONFIG_FIRMWARE_PRODUCT_ID="MI-MINI"

############################################################
### Linux kernel configuration
############################################################

### Force MT7620 CPU clock to 600MHz (override Uboot settings)
CONFIG_FIRMWARE_CPU_600MHZ=y

### Kernel driver select for WiFi AP 5GHz
### 3.0 = MT7612E v3.0.4.0
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0

### Kernel driver select for WiFi AP 2.4GHz
### 2.7 = RT3092 v2.7.1.5
CONFIG_FIRMWARE_WIFI2_DRIVER=2.7

### Enable IPv6 support
CONFIG_FIRMWARE_ENABLE_IPV6=y

### Enable USB support (ОБЯЗАТЕЛЬНО для Entware)
CONFIG_FIRMWARE_ENABLE_USB=y

### Поддержка файловых систем для USB-накопителя (ОБЯЗАТЕЛЬНО для Entware)
CONFIG_FIRMWARE_ENABLE_EXFAT=y
CONFIG_FIRMWARE_ENABLE_EXT4=y
CONFIG_FIRMWARE_ENABLE_FUSE=y

### Include IPSet utility and kernel modules. (Нужен для zapret2)
CONFIG_FIRMWARE_INCLUDE_IPSET=y

### Include Shortcut Forward Engine (аппаратное ускорение)
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y

############################################################
### Userspace configuration (МИНИМУМ для базовой работы)
############################################################

### Язык интерфейса (оставьте русский или выберите свой)
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y

### Include dropbear SSH. ~0.3MB (ОБЯЗАТЕЛЬНО для управления)
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y

### Include HTTPS support. (Нужен для Entware и установки пакетов)
CONFIG_FIRMWARE_INCLUDE_HTTPS=y

### Include Curl support (ОЧЕНЬ ПРИГОДИТСЯ для скачивания скриптов)
CONFIG_FIRMWARE_INCLUDE_CURL=y

### Include WPAD support (для работы Wi-Fi)
CONFIG_FIRMWARE_INCLUDE_WPAD=y

### Include LUA support (ОБЯЗАТЕЛЬНО для zapret2, если будете ставить из репозитория)
CONFIG_FIRMWARE_INCLUDE_LUA=y

### Include compressed memory support
CONFIG_FIRMWARE_INCLUDE_ZRAM=y

### Reduce trx image size (РАСКОММЕНТИРОВАНО, как вы просили)
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
